<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div id="head">
        <h1>Hệ thống Quản lý Sinh viên</h1>
        <h2>Đại học Công nghệ</h2>
    </div>
    <img id="logo" src="/images/IMG_8672.png" alt="logo">

    <form action="#">
        <h1>Login</h1><br>
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="submit" value="Login"><br>
        <a href="#">Forget password?</a>
    </form>
    <footer>
        &copy Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội
    </footer>
</body>

</html>