<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div id="head">
        <h1>Hệ thống Quản lý Sinh viên</h1>
        <h2>Đại học Công nghệ</h2>
    </div>
    <img id="logo" src="../assets/img/IMG_8672.png" alt="logo">

    <form method="POST">
        <h1>Login</h1><br>
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <p class="warning" id="enter-username"></p>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <p class="warning" id="enter-password"></p>
        <input type="submit" value="Login"><br>
        <a href="https://forms.gle/dyD2eHJ8DEvGbXEj9">Forget password?</a>
        
        
    </form>
    <footer>
        &copy Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội
    </footer>

    <script>
        const usernameInput = document.getElementById("username");
        const usernameWarning = document.getElementById("enter-username");
        usernameWarning.style.display = "none";
        usernameInput.oninput = (e) => {
            usernameWarning.style.display = "none";
        }
        usernameInput.onblur = (e) => {
            if(!usernameInput.value){
                usernameWarning.innerHTML = "Hãy điền tên người dùng!";
                usernameWarning.style.display = "block";
            }
        }

        const passwordInput = document.getElementById("password");
        const passwordWarning = document.getElementById("enter-password");
        passwordWarning.style.display = "none";

        passwordInput.oninput = (e) => {
            passwordWarning.style.display = "none";
        }
        passwordInput.onblur = (e) => {
            if(!passwordInput.value){
                passwordWarning.innerHTML = "Hãy điền mật khẩu!";
                passwordWarning.style.display = "block";
            }
        }
        
        function validate() {
            var username = usernameInput.value;
            var password = passwordInput.value;
            if (!username || !password) {
                return false;
            }
            return true;
        }
   


        const form = document.querySelector('form');
        form.addEventListener('submit', async (e) => {
            if(validate()){
                const username = form.username.value;
                const password = form.password.value;
            
                try{
                    const res = await fetch('/login', {
                        method: 'POST',
                        body: JSON.stringify({username, password}),
                        headers: {'Content-Type': 'application/json'}
                    });
                    const data = await res.json();
                    if(data.username){
                        location.assign('/my');
                    }else{
                        passwordWarning.innerHTML = data.message;
                        passwordWarning.style.display = "block";
                        console.log(data.message);
                    }
                }catch(e){
                    console.log(e);
                }
            }else{
                e.preventDefault();
            }

        })
    </script>

</body>

</html>