<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div id="head">
        <h1>Hệ thống Quản lý Sinh viên</h1>
        <h2>Đại học Công nghệ</h2>
    </div>
    <img id="logo" src="../assets/img/IMG_8672.png" alt="logo">

    <form action="#">
        <h1>Login</h1><br>
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="submit" value="Login"><br>
        <a href="#">Forget password?</a>
        <p class="warning" id="wrong-pass">Mật khẩu bạn đã nhập không chính xác.</p>
        <p class="warning" id="wrong-acc">Tài khoản bạn đã nhập không tồn tại.</p>
        <p class="warning" id="enter-username">Hãy điền tên người dùng.</p>
        <p class="warning" id="enter-password">Hãy điền mật khẩu.</p>
    </form>
    <footer>
        &copy Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội
    </footer>

    <script>
        document.getElementById("enter-password").style.display = "none";
        document.getElementById("enter-username").style.display = "none";
        document.getElementById("wrong-pass").style.display = "none";
        document.getElementById("wrong-acc").style.display = "none";
        function validate() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username == null || username == "") {
                document.getElementById("enter-username").style.display = "block";
                event.preventDefault();
                return false;
            }
            else if (password == null || password == "") {
                document.getElementById("enter-password").style.display = "block";
                event.preventDefault();
                return false;
            }
            return true;
        }
   


        let form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            if(validate()){
                const username = form.username.value;
                const password = form.password.value;
            
                try{
                    const res = await fetch('/login', {
                        method: 'POST',
                        credentials: 'include',
                        body: JSON.stringify({username, password}),
                        headers: {'Content-Type': 'application/json'}
                    });
                    const data = await res.json();
                    if(data.username){
                        location.assign('/my');
                    }
                }catch(e){
                    console.log(e);
                }
            }

        })
    </script>

</body>

</html>