<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="/assets/css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/fontawesome/icon-font/themify-icons/themify-icons.css">

</head>

<body>
    <div class="left-side">
        <h1 class="title">Student Management</h1>
        <label for="">Tools</label>
        <ul class="nav">
            <li class=""><a href=""><i class="ti-user"></i> Sinh viên</a></li>
            <li class=""><a href=""><i class="ti-book"></i> Học tập</a></li>
            <li class=""><a href=""><i class="ti-clipboard"></i> Rèn luyện</a></li>
            <li class=""><a href=""><i class="ti-arrow-circle-down"></i> Công việc</a></li>
            <li class=""><a href=""><i class="ti-help-alt"></i> Diễn đàn</a></li>
        </ul>

        <label for="">Others</label>
        <ul class="nav">
            <li><a href="#about"><i class="ti-headphone-alt"></i> Hỗ trợ</a></li>
        </ul>
    </div>

    <!-- phần giữa trang chủ -->
    <div class="main">
        <% if(user) { %>
        <h1 class="title-main">Welcome, <%= user.username %></h1>
        <% } %>
        <div class="adding-member">
            <img src="/images/cat.jpg" alt="" class="adding-avt">
            <div class="adding-id-inf">
                <h2 class="name-inf">Student's id</h2>
                <input autocomplete="off" type="text" class="input-inf" placeholder="id"/>
            </div>
            <div class="adding-name-inf">
                <h2 class="name-inf">Name</h2>
                <input autocomplete="off" type="text" class="input-inf" placeholder="Name"/>
            </div>
            <input type="button" value="ADD NOW" id="" class="adding-btn">
        </div>
        <div class="member-list">
            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>
        </div>
    </div>

    <!-- Công việc -->
    <div class="main">
        <h1 class="title-name">Công việc</h1>
        <button class="todo-add-btn js-add-todo btn">Thêm một công việc</button>
        <div class="todo-form js-todo-form">
            <label for="">Tiêu đề</label>
            <input type="text" class="todo-input-subject">
            <hr>

            <div class="todo-dur-input">
                <label for="birthdaytime">Opened:</label>
                <input type="datetime-local">
                <label for="birthdaytime">Due:</label>
                <input type="datetime-local">
            </div>
            <hr>
            <label for="">Nội dung</label>
            <div contenteditable="true" role="textbox" spellcheck="true" class="todo-input-content">
                <p>
                    <br>
                </p>
            </div>
            <div>
                <input type="submit" value="Đăng lên" class="todo-input-btn"> 
                <button class="todo-input-btn js-close-todo-btn">Huỷ bỏ</button>            
            </div>
        </div>

        <div class="todo">
            <h3 class="todo-title">DO YOUR HOME WORK</h3>
            <div class="todo-intro">
                <p class="todo-content">Do this, Do that</p>
                <div class="todo-duration">
                    <p class="todo-opened">Opened: Wednesday, 22 September 2021, 11:00 AM</p>
                    <p class="todo-due">Due: Wednesday, 22 September 2021, 13:00 AM</p>
                </div>
            </div>

            <div class="todo-opinion">
                <span class="todo-yk">Gửi ý kiến</span>
                <a href="#" class="todo-cmt-btn"><i class="ti-angle-right"></i> Bình luận</a>
            </div>
        </div>
    </div>

    <!--diễn đàn -->
    <div class="main">
        <h1 class="title-name">Diễn đàn</h1>
        <button class="question-btn js-add-question">Thêm một chủ đề thảo luận</button>
        <div class="question-form js-question-form">
            <label for="">Tiêu đề</label>
            <input type="text" class="input-subject">
            <hr>
            <label for="">Nội dung</label>
            <div contenteditable="true" role="textbox" spellcheck="true" class="input-content">
                <p>
                    <br>
                </p>
            </div>
            <div>
                <input type="submit" value="Đăng lên" class="input-btn"> 
                <button class="input-btn js-close-btn">Huỷ bỏ</button>            
            </div>
        </div>

        <div class="question">
            <div class="ques-inf">
                <div class="inf-item author-ava">
                    <img src="/images/cat.jpg" alt="" class="">
                </div>
                <div class="inf-item">
                    <p class="author-name">Name</p>
                    <p class="post-time">5 minutes</p>
                </div>
                <div class="inf-item favourite">
                    <i class="ti-star"></i>
                </div>
            </div>

            <div class="question-body">
                <h3 class="question-subject">Ask about sthg</h3>
                <p class="question-content">What am i doing?</p>
            </div>

            <div class="question-respone">
                <p class="question-like"><i class="ti-heart"></i>Yêu thích</p>                
                <p class="question-cmt"><i class="ti-comment"></i>Bình luận</p>                
            </div>
        </div>
    </div>

    <div class="rightsidebar">
        <img class="avatar" src="/images/cat.jpg" alt="">
        <!-- hien ra menu de chinh sua ho so, log out -->
        <div class="dropdown">
            <button id="dropbtn " class="dropbtn js-dropbtn"><i class="fas fa-caret-down"></i></button>
            <ul class="dropdown-item js-drop-item">
                <li><a href="#">
                        <img class="margin-top avatar" id="" src="/images/cat.jpg" alt="">
                        <label for="">Name</label>
                    </a></li>
                <hr>
                <li><a href="#">Kết quả học tập</a></li>
                <li><a href="#">Điểm rèn luyện</a></li>

                <hr>
                <li><a href="#">Cài đặt</a></li>
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </div>
    </div>


    <script>
        const addBtnQuestion = document.querySelector('.js-add-question')
        const questionForm = document.querySelector('.js-question-form')
        const formQuestionClose = document.querySelector('.js-close-btn')

        const addBtnTodo = document.querySelector('.js-add-todo')
        const todoForm = document.querySelector('.js-todo-form')
        const formTodoClose = document.querySelector('.js-close-todo-btn')

        function showQuestionForm() {
            if(!questionForm.classList.contains('open'))
            {   
                questionForm.classList.add('open')
            } else { 
                questionForm.classList.remove('open')
            }
        }

        function closeQuestionForm() {
            questionForm.classList.remove('open')
        }

        function showTodoForm() {
            if(!todoForm.classList.contains('open'))
            {   
                todoForm.classList.add('open')
            } else { 
                todoForm.classList.remove('open')
            }
        }

        function closeTodoForm() {
            todoForm.classList.remove('open')
        }

        addBtnQuestion.addEventListener('click', showQuestionForm)

        formQuestionClose.addEventListener('click', closeQuestionForm)

        addBtnTodo.addEventListener('click', showTodoForm)

        formTodoClose.addEventListener('click', closeTodoForm)
    </script>

    <script>
        const dropBtn = document.querySelector('.js-dropbtn')
        const dropItem = document.querySelector('.js-drop-item')
        const main = document.querySelector('#main')

        function showDropdown() {
            if(!dropItem.classList.contains('open')) {
                dropItem.classList.add('open')
            } else { 
            dropItem.classList.remove('open')
            }
        }

        function closeDropdown() {
            dropItem.classList.remove('open')
        }

        // main.addEventListener('click', closeDropdown)
        console.log(document.cookie);
        dropBtn.addEventListener('click', showDropdown)
    </script>

</body>

</html>