<!-- Rèn luyện -->
<div class="main">
    <h1 class="title-main">Rèn luyện</h1>
    <div class="selections">
        <label for="quater">Học kỳ:</label>
        <select>
            <option value="volvo">Học kỳ 2 năm học 2020-2021</option>
            <option value="volvo">Học kỳ 1 năm học 2020-2021</option>
            <option value="volvo">Học kỳ 2 năm học 2019-2020</option>
            <option value="volvo">Học kỳ 1 năm học 2019-2020</option>
        </select>
    </div>

    <div class="">
        <table class="work">
            <tr>
                <th>STT</th>
                <th>Mã SV</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Ý thức học tập</th>
                <th>Chấp hành nội quy</th>
                <th>Tham gia hoạt động</th>
                <th>Phẩm chất</th>
                <th>Phụ trách lớp</th>
                <th>Tổng</th>
            </tr>

            <tr>
                <td>1</td>
                <td>19021234</td>
                <td>Hà Văn Đạt</td>
                <td>01/12/2001</td>
                <td>30</td>
                <td>20</td>
                <td>15</td>
                <td>15</td>
                <td>0</td>
                <td>80</td>
            </tr>

            <tr>
                <td>1</td>
                <td>19021234</td>
                <td>Hà Văn Đạt</td>
                <td>01/12/2001</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="right-nav">
        <label for=""><i class="ti-list"></i></label>
        <ul class="class-list">
            <li data-rel="1" class="active"><i class="ti-angle-right"></i>QHI-2019-CA-CLC-1</li>
            <li data-rel="2" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-2</li>
            <li data-rel="3" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-3</li>
            <li data-rel="4" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-4</li>
            <li data-rel="5" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-5</li>
        </ul>
    </div>

</div>