<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Node js upload/Import excel file to MySQL database</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
      <h1>Node js upload Excel file to MySQL database</h1>

      <form action="/upload" enctype="multipart/form-data" method="post">
          <h1>Thông tin</h1><br>
          <input type="text" name="info" id="info" placeholder="Additional information"><br>
          <input type="file" name="file" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' >
          <input type="submit" value="Upload Excel">
      </form>
      
      <img src="../assets/img/avatar/hoán đổi.jpg" alt="">
      <button id="download"> <a href="/download">Lấy danh sách lớp</a></button>
    </body>
</html>