<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="student.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/fontawesome/icon-font/themify-icons/themify-icons.css">

</head>

<body>
    <div class="left-side">
        <h1 class="title">Student Management</h1>
        <label for="">Tools</label>
        <ul class="nav">
            <li class=""><a href=""><i class="ti-user"></i> Sinh viên</a></li>
            <li class=""><a href=""><i class="ti-book"></i> Học tập</a></li>
            <li class=""><a href=""><i class="ti-clipboard"></i> Rèn luyện</a></li>
            <li class=""><a href=""><i class="ti-arrow-circle-down"></i> Công việc</a></li>
            <li class=""><a href=""><i class="ti-help-alt"></i> Diễn đàn</a></li>
        </ul>

        <label for="">Others</label>
        <ul class="nav">
            <li><a href="#about"><i class="ti-headphone-alt"></i> Hỗ trợ</a></li>
        </ul>
    </div>

    <!-- phần giữa trang chủ -->
    <div class="main">
        <h1 class="title-main">39 People</h1>
        <div class="adding-member">
            <img src="/images/cat.jpg" alt="" class="adding-avt">
            <div class="adding-id-inf">
                <h2 class="name-inf">Student's id</h2>
                <input autocomplete="off" type="text" class="input-inf" placeholder="id"/>
            </div>
            <div class="adding-name-inf">
                <h2 class="name-inf">Name</h2>
                <input autocomplete="off" type="text" class="input-inf" placeholder="Name"/>
            </div>
            <input type="button" value="ADD NOW" id="" class="adding-btn">
        </div>
        <div class="member-list">
            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>

            <div class="member">
                <img src="/images/cat.jpg" alt="" class="member-ava">
                <p class="member-name">Name</p>
                <p class="member-pos">position</p>
            </div>
        </div>
    </div>

    <!-- Phần giữa trang diễn đàn -->
    <div class="main">
        <h1 class="title-name">Diễn đàn</h1>
        <button class="new-question">Thêm một chủ đề thảo luận</button>
        <div class="question">
            <div class="ques-inf">
                <div class="inf-item author-ava">
                    <img src="/images/cat.jpg" alt="" class="">
                </div>
                <div class="inf-item">
                    <p class="author-name">Name</p>
                    <p class="post-time">5 minutes</p>
                </div>
                <div class="inf-item favourite">
                    <i class="ti-star"></i>
                </div>
            </div>

            <div class="question-body">
                <h3 class="question-subject">Ask about sthg</h3>
                <p class="question-content">What am i doing?</p>
            </div>

            <div class="question-respone">
                <p class="question-like"><i class="ti-heart"></i>Yêu thích</p>                
                <p class="question-cmt"><i class="ti-comment"></i>Bình luận</p>                
            </div>
        </div>
    </div>

    <div class="rightsidebar">
        <img class="avatar" src="/images/cat.jpg" alt="">
        <!-- hien ra menu de chinh sua ho so, log out -->
        <div class="dropdown">
            <button id="dropbtn" class="dropbtn"><i class="fas fa-caret-down"></i></button>
            <ul class="dropdown-item">
                <li><a href="#">
                        <img class="margin-top avatar" id="" src="/images/cat.jpg" alt="">
                        <label for="">Name</label>
                    </a></li>
                <hr>
                <li><a href="#">Kết quả học tập</a></li>
                <li><a href="#">Điểm rèn luyện</a></li>

                <hr>
                <li><a href="#">Cài đặt</a></li>
                <li><a href="http://127.0.0.1:5500/view/login/login.html">Đăng xuất</a></li>
            </ul>
        </div>
    </div>

    <script>

        var dropBtn = document.getElementById('dropbtn')
        var dropdownItem = document.querySelector('.dropdown .dropdown-item');
        const main = document.querySelector('#main')

        dropBtn.onclick = function () {
            if (dropdownItem.style.display !== 'block') {
                dropdownItem.style.display = 'block';
            } else {
                dropdownItem.style.display = 'none';
                main.addEventListener('click', function () {
                    dropdownItem.style.display = 'none';
                })

                dropBtn.addEventListener('click', function (event) {
                    event.stopPropagation()
                })
            }
        }
    </script>

</body>

</html>