<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="student.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/fontawesome/icon-font/themify-icons/themify-icons.css">

</head>

<body>
    <div class="left-side">
        <h1 class = "title">Student Management</h1>
        <label for="">Tools</label>
        <ul class="nav">
            <li class=""><a href="#about"><i class="ti-user"></i> Sinh viên</a></li>
            <li class=""><a href="#services"><i class="ti-book"></i> Học tập</a></li>
            <li class=""><a href="#clients"><i class="ti-clipboard"></i> Rèn luyện</a></li>
            <li class=""><a href="#contact"><i class="ti-arrow-circle-down"></i> Công việc</a></li>
            <li class=""><a href="#forum"><i class="ti-help-alt"></i> Diễn đàn</a></li>
        </ul>

        <label for="">Others</label>
        <ul class="nav">
            <li><a href="#about"><i class="ti-headphone-alt"></i> Hỗ trợ</a></li>
        </ul>
    </div>
    <div class="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
    </div>
    <div class="rightsidebar">
        <img id="avatar" src="/images/cat.jpg" alt="">
        <!-- hien ra menu de chinh sua ho so, log out -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
    </div>
</body>

</html>