<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="student.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>

<body>
    <div class="sidenav">
        <h1>Student Management</h1>
        <a href="#about">nav1</a>
        <a href="#services">nav2</a>
        <a href="#clients">nav3</a>
        <a href="#contact">nav4</a>
    </div>
    <div class="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolores odit, repellendus pariatur hic tenetur ipsum non ullam amet laborum cumque, quis quidem iusto molestias maiores unde placeat. Vel, reiciendis?</p>
    </div>
    <div class="rightsidebar">
        <img id="avatar" src="/images/cat.jpg" alt="">
        <!-- hien ra menu de chinh sua ho so, log out -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="#">Edit profile</a>
              <a href="#">Log out</a>
            </div>
          </div>
    </div>
</body>

</html>