.ml-0{
    margin-left: 0 !important;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #1f1f1f;
}

.btn {
    color: #e8e8e8;
    background-color: #71be34;
    padding: 8px 24px;
    margin-top: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.btn + .btn {
    margin-left: 16px;
}

.btn:hover {
    opacity: 0.8;
    color: #fff;
}

.form {
    background-color: #3a3b3c;
    padding: 16px;
    display: none;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 16px;
    animation: modalFadeIn ease .3s;
}

.form.open {
    display: flex;
}

.form label {
    margin-bottom: 8px;
}

.form .input-subject {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.form hr {
    background-color: #eef0fe;
    margin: 16px 0;
}


.form .input-content {
    background-color: #fff;
    color: #000;
    min-height: 200px;
    font-size: 20px;
    border-radius: 12px;
    padding: 8px;
    vertical-align:top;
}


.left-side, .rightsidebar, .main {
    display: inline-block;
}

.left-side {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
}

.left-side h1 {
    display: inline-block;
    width: 260px;
    margin-left: 10px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.left-side label {
    display: inline-block;
    color: #999;
    padding: 0px 32px;
    margin-top: 64px;
    margin-bottom: 8px;
}

.left-side .nav {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    list-style: none;
    padding-left: 16px;
    margin: 0px 0;
}

.left-side .nav li {
    display: inline-block;
}

.left-side .nav li {
    color: #fff;
    padding: 20px 16px;
    width: 200px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.left-side .nav li:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.left-side .nav .active{
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.left-side .nav i {
    width: 30px;
    display: inline-block;
}

.main {
    margin-left: 15%; /* Same as the width of the left-side */
    margin-right: 20%; /* Same as the width of the rightsidebar */
    /* Increased text to enable scrolling */
    /* font-size: 28px;  */
    padding: 0px 32px;
    background-color: #1f1f1f;
    color: #e8e8e8;
    width: 65%;
    display: none;
}

.content .main:first-of-type {
    display: block;
}

.main .title-main {
    margin: 32px 0;
}

.main .adding-member {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.main .adding-avt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 16px;
}

.input-inf {
  padding: 8px;
  width: 100%;
  display: block;
  border: 1px solid #b5bfc9;
  border-radius: 18px;
  color: #0d1f36;
  font-size: 20px;
  outline: none;
  background-color: white;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.input-inf::-webkit-input-placeholder {
  color: #8d97a9;
}

.input-inf::-moz-input-placeholder {
  color: #8d97a9;
}

.input-inf:focus {
  border-color: #ff695b;
  box-shadow: 0 0 0 4px #ffe2df;
}

.main .name-inf {
    font-size: 18px;
    padding-left: 8px;
}

.main .adding-btn {
    align-self: end;
    margin-bottom: 10px;
}

.member-list {
    padding-top: 64px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap; 
}

.member-list .member {
    background-color: #3a3b3c;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    margin-bottom: 16px;
    cursor: pointer;
}

.member-list .member:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.member-list .member-ava {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.member-list .member-name {
    margin: 16px 0 0;
    font-size: 30px;
}

.member-list .member-pos {
    margin-top: 4px;
    font-size: 16px;
    color: #999;
}

/* hoc tap css */
.quater-selection {
    margin: 0 auto 32px;
    width: 350px;
}

.quater-selection label{
    font-size: 24px;
}

.quater-selection select {
    background-color: #FFF1A8;
    padding: 4px;
    border-radius: 12px;
    margin-left: 16px;

}

.mark {
    border-collapse: collapse;
    width: 100%;
}

.mark td, .mark th {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.mark tr {
    background-color: #2a2b2c;
    border-radius: 16px;
}

.mark tr:nth-child(odd){
    background-color: #3a3b3c;
}

.mark tr:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
    color: #000;
}

.mark th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }


  /* Rèn luyện css */
.work {
    border-collapse: collapse;
    width: 100%;
}

.work td, .work th {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.work tr {
    background-color: #2a2b2c;
    border-radius: 16px;
}

.work tr:nth-child(odd){
    background-color: #3a3b3c;
}

.work tr:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
    color: #000;
}

.work th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }


/* todo css */
.todo-dur-input>input {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.main .todo {
    color: #e8e8e8;
    background-color: #3a3b3c;
    border-radius: 12px;
    padding: 16px;
    margin-top: 64px;
}
.todo .todo-title {
    margin: 0;
    padding: 16px;
}

.todo .todo-intro {
    display: flex;
    padding: 8px;
}

.todo .todo-content{
    display: block;
    font-size: 20px;
    width: 60%;
    word-wrap: break-word;
    padding: 8px;
}

.todo .todo-duration{
    font-size: 16px;
}

.todo .todo-opinion {
    font-size: 16px;
    padding-left: 16px;
}

.todo-opinion .todo-yk {
    color: #ff695b;
    margin-right: 32px;
}

.todo-opinion .todo-cmt-btn {
    text-decoration: none;
    color: #fff;
}

/* forum css */
.main .question {
    color: #e8e8e8;
    background-color: #3a3b3c;
    border-radius: 12px;
    padding: 16px;
    margin-top: 64px;
}

.ques-inf {
    display: flex;
    align-items: center;
}

.ques-inf .inf-item {
    flex: 20;
    justify-content: center;
    align-content: center;
    padding: 4px;
}

.ques-inf .author-ava {
    padding: 4px;
    flex: 1.5;
    padding: 4px;
    cursor: pointer;
}

.ques-inf .author-ava > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.ques-inf p {
    margin: 0;
    padding-left: 4px;
}

.ques-inf .author-name {
    display: inline-block;
    font-size: 26px;
    font-weight: 200;
    cursor: pointer;
}

p.post-time {
    font-size: 14px;
    color: #999;
}

.ques-inf .favourite {
    flex: 1;
    cursor: pointer;
}

.question .question-subject {
    font-size: 28px;
    font-weight: 600;
    margin: 16px 16px 8px;
}

.question .question-content {
    font-size: 20px; 
    color: #888;
    margin: 4px 16px;
}

.question .question-respone {
    display: flex;
    font-size: 18px;
}

.question-respone p {
    margin-left: 16px;
}

.question-respone i {
    margin-right: 8px;
}

.question .question-like {
    cursor: pointer;
}

.question .question-cmt {
    cursor: pointer;
    margin-left: 24px;
}



.rightsidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    border-radius: 5px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;

    position: fixed;
    right: 0px;
    transition: 0.3s;
    padding: 15px;
}
/* 
.rightsidebar:hover {
    position: absolute;
    right: 0;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-item {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF1A;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 8px 16px;
    margin-top: 4px;
    border-radius: 8%;
}

.dropdown-item.open {
    display: flex;
}

.dropdown-item li {
}

.dropdown-item a {
    display: flex;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 8px;
}

.dropdown-item a:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);;
}

.dropdown-item a > label {
    font-size: 24px;
    align-self: center;
    padding-left: 8px;
    font-weight: 600;
}

.dropdown-item a > img {
    margin: 0;
}

.dropdown-item a > label:hover {
    cursor: pointer;
}

.dropdown-item > hr {
    border: 0;
    height: 1px;
    background-color: #dadde1;
    margin: 8px 0;
}

/* .dropdown:hover .dropdown-item {display: block;} */

.dropdown:hover .dropbtn {
    opacity: 0.8;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-left: 16px;
}