.ml-0{
    margin-left: 0 !important;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
}
.left-side, .rightsidebar, .main {
    display: inline-block;
}

.left-side {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    padding: 20px 10px 0 10px;
}

.left-side h1 {
    display: inline-block;
    width: 260px;
    margin-left: 10px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.left-side label {
    display: inline-block;
    color: #999;
    padding: 0px 32px;
    margin-top: 64px;
    margin-bottom: 8px;
}

.left-side .nav {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    list-style: none;
    padding-left: 16px;
    margin: 0px 0;
}

.left-side .nav li {
    display: inline-block;
}

.left-side .nav  a {
    color: #fff;
    padding: 20px 16px;
    width: 200px;
    display: block;
    text-decoration: none;
}

.left-side .nav a:hover {
    color: #eef0fe;
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
    border-radius: 10px;
}

.left-side .nav i {
    width: 30px;
    display: inline-block;
}

.main {
    margin-left: 15%; /* Same as the width of the left-side */
    margin-right: 25%; /* Same as the width of the rightsidebar */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 32px;
    background-color: #1f1f1f;
    color: #e8e8e8;
    width: 60%;

}

.main .adding-member {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.main .adding-avt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 16px;
}

.input-inf {
  padding: 8px;
  width: 100%;
  display: block;
  border: 1px solid #b5bfc9;
  border-radius: 18px;
  color: #0d1f36;
  font-size: 20px;
  outline: none;
  background-color: white;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.input-inf::-webkit-input-placeholder {
  color: #8d97a9;
}
.input-inf::-moz-input-placeholder {
  color: #8d97a9;
}
.input-inf:focus {
  border-color: #ff695b;
  box-shadow: 0 0 0 4px #ffe2df;
}

.main .name-inf {
    font-size: 18px;
    padding-left: 8px;
}

.main .adding-btn {
    background-color: greenyellow;
    padding: 12px 24px;
    border-radius: 16px;
    align-self: end;
    margin-bottom: 10px;
    cursor: pointer;
}

.main .adding-btn:hover {
    opacity: 0.8;
}

.member-list {
    padding-top: 64px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap; 
}

.member-list .member {
    background-color: #3a3b3c;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
}

.member-list .member-ava {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.member-list .member-name {
    margin: 16px 0 0;
    font-size: 30px;
}

.member-list .member-pos {
    margin-top: 4px;
    font-size: 16px;
    color: #999;
}

.rightsidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #FFFFFF1A;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 8px 16px;
    margin-top: 4px;
    border-radius: 8%;
}

.dropdown-item li {
}

.dropdown-item a {
    display: flex;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 8px;
    margin: 8px;
}

.dropdown-item a:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);;
}

.dropdown-item a > label {
    font-size: 28px;
    align-self: start;
    padding-left: 8px;
    font-weight: 600;
}

.dropdown-item a > img {
    min-width: 80px;
    margin: 0;
}

.dropdown-item a > label:hover {
    cursor: pointer;
}

.dropdown-item > hr {
    border: 0;
    height: 1px;
    background-color: #dadde1;
    margin: 8px 0;
}

/* .dropdown:hover .dropdown-item {display: block;} */

.dropdown:hover .dropbtn {opacity: 0.8;}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-left: 16px;
}