<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/teacher.css">
    <title>Document</title>
</head>
<body>
    <div class="left-side ">
        <h1 class="title">Quản lý sinh viên</h1>
        <label for="">Công cụ</label>
        <ul class="nav">
            <a href="/my"><li data-rel="1" class="active"><i class="ti-user">Sinh viên</i></li></a>
            <a href="/hoc-tap"><li data-rel="2" class=""><i class="ti-book"> Học tập</i></li></a>
            <li data-rel="3" class=""><i class="ti-clipboard"> Rèn luyện</i></li>
            <li data-rel="4" class=""><i class="ti-arrow-circle-down"> Công việc</i></li>
            <li data-rel="5" class=""><i class="ti-help-alt"> Diễn đàn</i></li>
        </ul>
    
        <label for="">Others</label>
    
        <ul class="nav">
            <li data-rel="6"><i class="ti-headphone-alt"></i> Hỗ trợ</li>
        </ul>
        
        <main><%- body %></main>
        <side>Sidebar</side>

        
    </div>
</body>
</html>