

<div class="dropdown">
    <label for=""><%= hoten %></label>
    <img id="dropbtn" class=" dropbtn js-dropbtn" src="../assets/img/IMG_8672.png" alt="">
    <!-- <button id="dropbtn " class="dropbtn js-dropbtn"><i class="fas fa-caret-down"></i></button> -->
    <ul class="dropdown-list js-drop-item">
        <li><a class="profile" href="/profile">
                <!-- <img class="margin-top avatar" id="" src="/assets/img/IMG_8672.png" alt=""> -->
                <label for="">Hồ sơ</label>
            </a></li>
        <hr>
        <li><a href="#">Kết quả học tập</a></li>
        <li><a href="#">Điểm rèn luyện</a></li>

        <hr>
        <li><a href="#">Cài đặt</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
    </ul>
</div>

<script>

</script>
