
<div class="left-side ">
    <h1 class="title">Quản lý sinh viên</h1>
    <label for="">Công cụ</label>
    <ul class="nav">
        <a href="/my"><li data-rel="1" class="">Sinh viên</li></a>
        <a href="/hoc-tap"><li data-rel="2" class="">Học tập</li></a>
        <a href="/ren-luyen"><li data-rel="3" class="">Rèn luyện</li></a>
        <a href="/cong-viec"><li data-rel="4" class="">Công việc</li></a>
        <a href="/dien-dan"><li data-rel="5" class="">Diễn đàn</li></a>
    </ul>

    <label for="">Others</label>

    <ul class="nav">
        <li data-rel="6"> Hỗ trợ</li>
    </ul>

</div>