.ml-0{
    margin-left: 0 !important;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

html body {
    width: 100%;
    background-color: #18191a;
    color: #fff;
}

.main .btn {
    color: #e8e8e8;
    background-color: #71be34;
    padding: 8px 24px;
    margin-top: 16px;
    min-width: 86px;
    border-radius: 16px;
    cursor: pointer;
}

.main .cancel-btn {
    background-color: #ff3333;
}

.btn + .btn {
    margin-left: 16px;
}

.btn:hover {
    opacity: 0.8;
    color: #fff;
}

.form {
    background-color: #3a3b3c;
    padding: 16px;
    display: block;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 16px;
    animation: modalFadeIn ease .3s;
}

.form.open {
    display: flex;
}

.form label {
    margin-bottom: 8px;
}

.form .input-subject {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.form hr {
    background-color: #eef0fe;
    margin: 16px 0;
}


.form .input-content {
    background-color: #fff;
    color: #000;
    min-height: 200px;
    font-size: 20px;
    border-radius: 12px;
    padding: 8px;
    vertical-align:top;
}


td, th {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    margin: 0 4px;
}

tr {
    background-color: #2a2b2c;
    border-radius: 16px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #3a3b3c;
}

tr:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
    color: #000;
}

th { 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}


.left-side, .rightsidebar, .main {
    display: inline-block;
}

.left-side {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #18191a;
    overflow-x: hidden;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(192, 192, 192, 0.4);
}

.left-side h1 {
    display: inline-block;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.left-side label {
    display: inline-block;
    color: #999;
    padding: 0px 16px;
    margin-top: 64px;
    margin-bottom: 8px;
}

.left-side .nav {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    list-style: none;
    padding-left: 8px;
    margin: 0px 0;
    width: 100%;
}

.left-side .nav li {
    color: #fff;
    padding: 20px 16px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.left-side .nav li:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.left-side .nav .active{
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.left-side .nav i {
    padding-left: 8px;
    display: inline-block;
}

.main {
    margin-left: 15%; /* Same as the width of the left-side */
    /* margin-right: 20%; Same as the width of the rightsidebar */
    /* Increased text to enable scrolling */
    /* font-size: 28px;  */
    padding: 0px 32px;
    color: #e8e8e8;
    width: 80%;
    display: none;
}

.content .main:first-of-type {
    display: block;
}

.main .title-main {
    margin: 32px 0;
    font-size: 32px;
}

.main .adding-member {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .adding-avt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 16px;
}

.input-inf {
  padding: 8px;
  width: 100%;
  display: block;
  border: 1px solid #b5bfc9;
  border-radius: 18px;
  color: #0d1f36;
  font-size: 20px;
  outline: none;
  background-color: white;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.input-inf::-webkit-input-placeholder {
  color: #8d97a9;
}

.input-inf::-moz-input-placeholder {
  color: #8d97a9;
}

.input-inf:focus {
  border-color: #ff695b;
  box-shadow: 0 0 0 4px #ffe2df;
}

.main .name-inf {
    font-size: 18px;
    padding-left: 8px;
}

/* .main .adding-btn {
    align-self: end;
    margin-bottom: 10px;
} */

.member-list {
    padding-top: 64px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap; 
}

.member-list .member {
    background-color: #3a3b3c;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    margin-bottom: 16px;
    cursor: pointer;
}

.member-list .member:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.member-list .member-ava {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.member-list .member-name {
    margin: 16px 0 0;
    font-size: 30px;
}

.member-list .member-pos {
    margin-top: 4px;
    font-size: 16px;
    color: #999;
}

#student-table th{
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
}
#student-table td {
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
}

/* hoc tap css */
.selections {
    margin: 0 auto 32px;
    width: 80%;
}

.selections label{
    font-size: 24px;
}

.selections select {
    color: #0062cc;
    background-color: #FFF1A8;
    padding: 4px;
    border-radius: 12px;
    margin-left: 16px;

}

.mark {
    border-collapse: collapse;
    width: 100%;
}

  /* Rèn luyện css */
.work {
    border-collapse: collapse;
    width: 100%;
}

/* todo css */
.todo-dur-input>input {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.main .todo {
    color: #e8e8e8;
    background-color: #3a3b3c;
    border-radius: 12px;
    padding: 16px;
    margin-top: 64px;
}
.todo .todo-title {
    margin: 0;
    padding: 16px;
}

.todo .todo-intro {
    display: flex;
    padding: 8px;
}

.todo .todo-content{
    display: block;
    font-size: 20px;
    width: 60%;
    word-wrap: break-word;
    padding: 8px;
}

.todo .todo-duration{
    font-size: 16px;
}

.todo .todo-opinion {
    font-size: 16px;
    padding-left: 16px;
}

.todo-opinion .todo-yk {
    color: #ff695b;
    margin-right: 32px;
}

.todo-opinion .todo-cmt-btn {
    text-decoration: none;
    color: #fff;
}

/* forum css */
.main .question {
    color: #e8e8e8;
    background-color: #3a3b3c;
    border-radius: 12px;
    padding: 16px;
    margin-top: 64px;
}

.ques-inf {
    display: flex;
    align-items: center;
}

.ques-inf .inf-item {
    flex: 20;
    justify-content: center;
    align-content: center;
    padding: 4px;
}

.ques-inf .author-ava {
    padding: 4px;
    flex: 1.5;
    padding: 4px;
    cursor: pointer;
}

.ques-inf .author-ava > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.ques-inf p {
    margin: 0;
    padding-left: 4px;
}

.ques-inf .author-name {
    display: inline-block;
    font-size: 26px;
    font-weight: 200;
    cursor: pointer;
}

p.post-time {
    font-size: 14px;
    color: #999;
}

.ques-inf .favourite {
    flex: 1;
    cursor: pointer;
}

.question .question-subject {
    font-size: 28px;
    font-weight: 600;
    margin: 16px 16px 8px;
}

.question .question-content {
    font-size: 20px; 
    color: #888;
    margin: 4px 16px;
}

.question .question-respone {
    display: flex;
    font-size: 18px;
}

.question-respone p {
    margin-left: 16px;
}

.question-respone i {
    margin-right: 8px;
}

.question .question-like {
    cursor: pointer;
}

.question .question-cmt {
    cursor: pointer;
    margin-left: 24px;
}

/* profile css */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 64px;
    margin-left: 18%;
    width: 70%;
}

.profile-img{
    text-align: center;
    position: relative;
}
.profile-img img{
    width: 70%;
    height: 100%;
    border-radius: 50%;
}
.profile-img .file {
    position: absolute;
    right: 54px;
    bottom: 16px;
    overflow: hidden;
    border: none;
    border-radius: 50%;
    padding: 9px 14px;
    background: #555;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-title .profile-name{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.profile-title h6{
    color: #0062cc;
    font-size: 20px;
}

.main .profile-save-btn{
    display: none;
}

.profile-title .nav-tabs{
    margin-bottom:5%;
}
.profile-title .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-title .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
    background-color: #ccc;
}

.row.profile-content {
    margin: 64px 48px;
}

.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #fff;
}



.rightsidebar {
    height: 100%;
    width: 7%;
    z-index: 1;
    top: 0;
    border-radius: 5px;
    background-color: #18191a;
    overflow-x: hidden;
    box-shadow: 0 0 3px rgba(192, 192, 192, 0.4);
    position: fixed;
    right: 0px;
    transition: 0.3s;
    padding: 15px;
}

.rightsidebar:hover {
    position: absolute;
    right: 0;
    width: 22%;
}

body > .dropdown {
    position: fixed;
    top: 13px;
    right: 16px;
    display: inline-block;
}

.dropdown .dropbtn {
    background-color: #fff;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

#dropdown-list {
    flex-direction: column;
    position: absolute;
    background-color: #242526;
    min-width: 230px;
    box-shadow: 0 0 2px rgba(192, 192, 192, 0.8);
    z-index: 1;
    list-style-type: none;
    padding: 8px 16px;
    margin-top: 4px;
    border-radius: 8%;
    top: 64px;
    right: 4px;
}

#dropdown-list a {
    display: flex;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 8px;
}

#dropdown-list a:hover {
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
    text-decoration: none;
    color: #fff;
}

#dropdown-list a > label {
    font-size: 24px;
    align-self: center;
    padding-left: 8px;
    font-weight: 600;
}

#dropdown-list a > label:hover {
    cursor: pointer;
}

#dropdown-list > hr {
    border: 0;
    height: 1px;
    background-color: #dadde1;
    margin: 8px 0;
}

/* .dropdown:hover #dropdown-list {display: block;} */

.dropdown:hover .dropbtn {
    opacity: 0.8;
}

.right-nav {
    color: #ccc;
    position: fixed;
    top: 24px;
    right: 92px;
}

.right-nav i {
    padding-right: 4px;
    font-size: 24px;
    font-weight: 500;
}

.right-nav:hover .class-list{
    display: block;
}

.right-nav .class-list {
    list-style-type: none;
    background-color: #242526;
    box-shadow: 0 0 2px rgba(192, 192, 192, 0.8);
    display: none;
    position: absolute;
    width: 224px;
    padding: 16px;
    border-radius: 12px;
    top: 36px;
    right: 1px;
    font-size: 15px;
}

.right-nav .class-list li {
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
}

.class-list li.active{
    background-image: linear-gradient(to right, #af92f2, #74c2ee);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 8px;
}